In [1]:
%%capture
!wget -O "sample-metadata.tsv" "https://data.qiime2.org/2018.4/tutorials/moving-pictures/sample_metadata.tsv"
!wget -O "table-dada2.qza" "https://docs.qiime2.org/2018.4/data/tutorials/moving-pictures/table-dada2.qza"
!wget -O "unrooted-tree.qza" "https://docs.qiime2.org/2018.4/data/tutorials/moving-pictures/unrooted-tree.qza"

In [2]:
import qiime2
from qiime2.plugins import phylofactor, feature_table
import pandas as pd

### Import Data

In [3]:
data = qiime2.Artifact.load('table-dada2.qza')
unrooted_tree = qiime2.Artifact.load('unrooted-tree.qza')
metadata = qiime2.Metadata.load('sample-metadata.tsv')

In [4]:
%%capture
pf = phylofactor.methods.phylofactor(data, 
                                     unrooted_tree, 
                                     metadata, 
                                     family='binomial', 
                                     formula='Subject~Data',
                                     choice='F',
                                     nfactors=2,
                                     ncores=4)

In [5]:
pf.factors.view(pd.DataFrame)

,Group1,Group2,F,Pr(>F)
Factor 1,4 member Monophyletic clade,755 member Monophyletic clade,24.832335,0.000021
Factor 2,5 member Monophyletic clade,750 member Paraphyletic clade,22.212075,0.000046

In [14]:
pf.groups.view(pd.DataFrame)

      factor  group                         featureid
0          1      1  724c43ad3632cb8c5c6230c874551bd2
1          1      1  62bf37c50994a06e6c8c93355ad1caa0
2          1      1  f8fe4ee0ae3da9a1432872f5545a0d42
3          1      1  35b6dde81c92eb7f66ca9f741da3514e
4          1      2  91d0b3b7c0329b9a164b6e04a181f1d6
5          1      2  f91c81859bf6eede55eef9c915dd8bab
6          1      2  919764896275058362e55f0849d2b38b
7          1      2  99f9d85c50cec960adab2a3f0f401371
8          1      2  26f1b1ff96f049f0e354df4c3d85efb0
9          1      2  d51cd90e95b57acb614698dc580759fb
10         1      2  8935afd2b1d59a37191411131d75e9f6
11         1      2  5546d0fe4a512f96a6d73509a1ec6e55
12         1      2  0dcaf9358eddf685864afb883cdf2363
13         1      2  3677e15d86603bf0a6bb50f8b010afe7
14         1      2  823698689031b0b9c2c5152f92ffc70f
15         1      2  2e55763e77234a7bfc3a311067a0c7e1
16         1      2  55937e5781c91185e27a91216008e4ca
17         1      2  54b4964000ad1631e547c46a828ed1a0
18         1      2  30faafef155964edd9db9374f36c45bf
19         1      2  5437cb1c86c72638cbbc12896f88d1b1
20         1      2  0c4b17f88dae47697d3bceb3663f47ce
21         1      2  aee707afe3847427a6d3d34e31437923
22         1      2  535696cecf56f03d3401d7d6dbe66d7b
23         1      2  b8b19c4f0719a5d5b965a0f50f05827c
24         1      2  24dfe6a7325e4f2be7dbd522ef613e42
25         1      2  e2f0caba18b002ca9762ed56167c6188
26         1      2  491ef1635067f62c395bdffd58966092
27         1      2  0a69950e803a5d9e7166c450e44f43cf
28         1      2  77a517253ff10afeb78a37bc13d649a0
29         1      2  e2c355360209f0b71b70b85ed0f9532d
...      ...    ...                               ...
1484       2      2  04fd81a94c775a5906f2d92cf0548e4d
1485       2      2  2514cdaab96a1a42cf15506f2ecf6439
1486       2      2  fb4f7d9d3f91ac2f22a542fbd13019c1
1487       2      2  ff3df50eea7490dd794148649c480fd3
1488       2      2  498ae808db957a63e20e836e1bf77f54
1489       2      2  51b573b10d63a2cbe455deeef5bae002
1490       2      2  e77bac543df42865af751a32a2942fdb
1491       2      2  7f2aa6f3481a4039dcc8d1b8be32beb7
1492       2      2  50feebeace77894a50a224bf001c3502
1493       2      2  f908d554fc6eeb9fef7a7028fa791475
1494       2      2  124e839582c0a3329101182cb28619a8
1495       2      2  3add7df323955b22d1cea664ef38165d
1496       2      2  b00d44992702bd3743d7f353638d42f9
1497       2      2  136e9f5aa470119165e59d202fdb318c
1498       2      2  d3e265209c342d15d93a910e38ad9be2
1499       2      2  1e00822422afb942c9955cd450385a8b
1500       2      2  5decdad9c550489629ce441d32a69a1c
1501       2      2  bb370945a6777f712cfd963c55f2ff54
1502       2      2  6b4a0a64da52980e7a1b1a770978bb88
1503       2      2  393e6e2cbe258ed27a4ca0a2ee0d2cdc
1504       2      2  b815913c61abb4a540babe5c3fae17e7
1505       2      2  74c2326ccd0bc2bd9e0f23f15b79ea16
1506       2      2  831514b8b3617bed49e2a4bd9d3d6268
1507       2      2  f32674aec6d3fa6a7aa2323cb35699fc
1508       2      2  41fedaa9200e2933821f84ecdc0b0772
1509       2      2  c04b03fdea7f81c8c52fc540c50a24a4
1510       2      2  167baae5fe04a754df7eb073c07adaa7
1511       2      2  dd9d9aad1de9345686f5cc614c5616db
1512       2      2  816b94bcd935ca38afe71fd1e3c5356c
1513       2      2  2ce0fa88ec7cfdda2eeb0698cdad47e8

[1514 rows x 3 columns]

In [6]:
import biom
from skbio.tree import TreeNode
import qiime2
from q2_phylofactor import phylofactor
from q2_types.tree import NewickFormat

with open('../../q2_phylofactor/tests/data/s1_data.tsv') as fh:
    table = biom.Table.from_tsv(fh, None, None, None)
        
        
        
phylogeny = NewickFormat('../../q2_phylofactor/tests/data/s1_tree.nwk', mode='r')
sample_metadata = qiime2.Metadata.load('../../q2_phylofactor/tests/data/metadata.tsv')


exp_factor_groups = pd.read_csv('../../q2_phylofactor/tests/data/expected/factor_groups.tsv', sep='\t')

factors, out_tree, factor_ratios, factor_groups = phylofactor(
                                                    table,
                                                    phylogeny,
                                                    sample_metadata,
                                                    formula='BodySite~Data',
                                                    nfactors=3,
                                                    family='binomial')

Running Commands
Running external command line application(s). This may print messages to stdout and/or stderr.
The command(s) being run are below. These commands cannot be manually re-run as they will depend on temporary files that no longer exist.

Command: run_phylofactor.R /var/folders/h9/sy3k4xgs0qgg9n6prlk_fj2c0000gn/T/tmpe12q5pyq/table.tsv ../../q2_phylofactor/tests/data/s1_tree.nwk /var/folders/h9/sy3k4xgs0qgg9n6prlk_fj2c0000gn/T/tmpe12q5pyq/metadata.tsv binomial BodySite~Data F 3 1 /var/folders/h9/sy3k4xgs0qgg9n6prlk_fj2c0000gn/T/tmpe12q5pyq/out_table.tsv /var/folders/h9/sy3k4xgs0qgg9n6prlk_fj2c0000gn/T/tmpe12q5pyq/tree.nwk /var/folders/h9/sy3k4xgs0qgg9n6prlk_fj2c0000gn/T/tmpe12q5pyq/factor_ratios.tsv /var/folders/h9/sy3k4xgs0qgg9n6prlk_fj2c0000gn/T/tmpe12q5pyq/factors.tsv

In [7]:
exp_factor_groups

,Group1,Group2,F,Pr(>F)
Factor 1,3 member Monophyletic clade,756 member Monophyletic clade,1.396556e+12,0
Factor 2,3 member Monophyletic clade,753 member Paraphyletic clade,1.350827e+12,0
Factor 3,tip,752 member Paraphyletic clade,1.188219e+12,0

In [8]:
factor_groups

,Group1,Group2,F,Pr(>F)
Factor 1,3 member Monophyletic clade,756 member Monophyletic clade,1.396556e+12,0
Factor 2,3 member Monophyletic clade,753 member Paraphyletic clade,1.350827e+12,0
Factor 3,tip,752 member Paraphyletic clade,1.188219e+12,0

In [9]:
pf.groups.view(pd.DataFrame)

      factor  group                         featureid
0          1      1  724c43ad3632cb8c5c6230c874551bd2
1          1      1  62bf37c50994a06e6c8c93355ad1caa0
2          1      1  f8fe4ee0ae3da9a1432872f5545a0d42
3          1      1  35b6dde81c92eb7f66ca9f741da3514e
4          1      2  91d0b3b7c0329b9a164b6e04a181f1d6
5          1      2  f91c81859bf6eede55eef9c915dd8bab
6          1      2  919764896275058362e55f0849d2b38b
7          1      2  99f9d85c50cec960adab2a3f0f401371
8          1      2  26f1b1ff96f049f0e354df4c3d85efb0
9          1      2  d51cd90e95b57acb614698dc580759fb
10         1      2  8935afd2b1d59a37191411131d75e9f6
11         1      2  5546d0fe4a512f96a6d73509a1ec6e55
12         1      2  0dcaf9358eddf685864afb883cdf2363
13         1      2  3677e15d86603bf0a6bb50f8b010afe7
14         1      2  823698689031b0b9c2c5152f92ffc70f
15         1      2  2e55763e77234a7bfc3a311067a0c7e1
16         1      2  55937e5781c91185e27a91216008e4ca
17         1      2  54b4964000ad1631e547c46a828ed1a0
18         1      2  30faafef155964edd9db9374f36c45bf
19         1      2  5437cb1c86c72638cbbc12896f88d1b1
20         1      2  0c4b17f88dae47697d3bceb3663f47ce
21         1      2  aee707afe3847427a6d3d34e31437923
22         1      2  535696cecf56f03d3401d7d6dbe66d7b
23         1      2  b8b19c4f0719a5d5b965a0f50f05827c
24         1      2  24dfe6a7325e4f2be7dbd522ef613e42
25         1      2  e2f0caba18b002ca9762ed56167c6188
26         1      2  491ef1635067f62c395bdffd58966092
27         1      2  0a69950e803a5d9e7166c450e44f43cf
28         1      2  77a517253ff10afeb78a37bc13d649a0
29         1      2  e2c355360209f0b71b70b85ed0f9532d
...      ...    ...                               ...
1484       2      2  04fd81a94c775a5906f2d92cf0548e4d
1485       2      2  2514cdaab96a1a42cf15506f2ecf6439
1486       2      2  fb4f7d9d3f91ac2f22a542fbd13019c1
1487       2      2  ff3df50eea7490dd794148649c480fd3
1488       2      2  498ae808db957a63e20e836e1bf77f54
1489       2      2  51b573b10d63a2cbe455deeef5bae002
1490       2      2  e77bac543df42865af751a32a2942fdb
1491       2      2  7f2aa6f3481a4039dcc8d1b8be32beb7
1492       2      2  50feebeace77894a50a224bf001c3502
1493       2      2  f908d554fc6eeb9fef7a7028fa791475
1494       2      2  124e839582c0a3329101182cb28619a8
1495       2      2  3add7df323955b22d1cea664ef38165d
1496       2      2  b00d44992702bd3743d7f353638d42f9
1497       2      2  136e9f5aa470119165e59d202fdb318c
1498       2      2  d3e265209c342d15d93a910e38ad9be2
1499       2      2  1e00822422afb942c9955cd450385a8b
1500       2      2  5decdad9c550489629ce441d32a69a1c
1501       2      2  bb370945a6777f712cfd963c55f2ff54
1502       2      2  6b4a0a64da52980e7a1b1a770978bb88
1503       2      2  393e6e2cbe258ed27a4ca0a2ee0d2cdc
1504       2      2  b815913c61abb4a540babe5c3fae17e7
1505       2      2  74c2326ccd0bc2bd9e0f23f15b79ea16
1506       2      2  831514b8b3617bed49e2a4bd9d3d6268
1507       2      2  f32674aec6d3fa6a7aa2323cb35699fc
1508       2      2  41fedaa9200e2933821f84ecdc0b0772
1509       2      2  c04b03fdea7f81c8c52fc540c50a24a4
1510       2      2  167baae5fe04a754df7eb073c07adaa7
1511       2      2  dd9d9aad1de9345686f5cc614c5616db
1512       2      2  816b94bcd935ca38afe71fd1e3c5356c
1513       2      2  2ce0fa88ec7cfdda2eeb0698cdad47e8

[1514 rows x 3 columns]

In [10]:
qiime2.Artifact.load('../../q2_phylofactor/tests/data/s1_tree.nwk')

ValueError: ../../q2_phylofactor/tests/data/s1_tree.nwk is not a QIIME archive.

In [ ]:
def foo():
    return 'a', 'b'

In [ ]:
bar = foo()

In [ ]:
a, b = bar

In [ ]:
a