In [1]:
%%capture
!wget -O "sample-metadata.tsv" "https://data.qiime2.org/2018.4/tutorials/moving-pictures/sample_metadata.tsv"
!wget -O "table-dada2.qza" "https://docs.qiime2.org/2018.4/data/tutorials/moving-pictures/table-dada2.qza"
!wget -O "unrooted-tree.qza" "https://docs.qiime2.org/2018.4/data/tutorials/moving-pictures/unrooted-tree.qza"

In [2]:
import qiime2
from qiime2.plugins import phylofactor, feature_table
import pandas as pd

### Import Data

In [3]:
data = qiime2.Artifact.load('table-dada2.qza')
unrooted_tree = qiime2.Artifact.load('unrooted-tree.qza')
metadata = qiime2.Metadata.load('sample-metadata.tsv')

In [4]:
%%capture
pf = phylofactor.methods.phylofactor(data, 
                                     unrooted_tree, 
                                     metadata, 
                                     family='binomial', 
                                     formula='Subject~Data',
                                     choice='F',
                                     nfactors=2,
                                     ncores=4)

In [5]:
pf.factors.view(pd.DataFrame)

,L1S8,L1S57,L1S76,L1S105,L2S155,L2S175,L2S204,L2S222,L3S242,L3S294,...,L2S357,L2S382,L3S378,L4S63,L4S112,L4S137,L5S240,L6S20,L6S68,L6S93
Factor_1,-0.329769,-0.457164,-0.428295,-0.445123,2.072353,0.659874,1.591403,0.399861,-0.103191,1.218590,...,-0.379062,-0.853672,-0.199675,-1.513501,-1.068572,-1.107967,-0.189649,-0.371594,-0.354277,-0.458622
Factor_2,-0.370899,-0.514182,-0.481713,-0.500640,-0.060211,-0.157706,-0.223902,0.665656,-0.116061,-0.287665,...,-0.426340,-0.960143,-0.224579,-1.016026,-1.201846,-1.246155,-0.213302,-0.417940,-0.398463,-0.515822

In [6]:
pf.groups.view(pd.DataFrame)[:5]

   factor  group                         featureid
0       1      1  724c43ad3632cb8c5c6230c874551bd2
1       1      1  62bf37c50994a06e6c8c93355ad1caa0
2       1      1  f8fe4ee0ae3da9a1432872f5545a0d42
3       1      1  35b6dde81c92eb7f66ca9f741da3514e
4       1      2  91d0b3b7c0329b9a164b6e04a181f1d6

In [7]:
pf.tree